body{
	background-color:#f5f5f5;
}
.holder {
  display: grid;
	position:relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 10px;
  
}

.holder > div:first-child {
	grid-column:1/-1;
	grid-template-columns:1fr 3fr 1fr;
}
.header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding-bottom:9px;
	height:50px;
	}
.latest-news-section{
	background-color:white;
	text-align:center;
	border-radius:10px;
	width:60%;
	height:150px;
}
.latest-news-section1{
	background-color:white;
	text-align:center;
	border-radius:10px;
	width:100%;
}
.pictorial-news-section{
	background-color:white;
	text-align:center;
	border-radius:10px;
	width:200px
	margin-right:0px;
}